# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmVhbC1ibHVlYmlyZC02Ny5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_w7axKQQZIJj6lJPZ8yvaymCIUdXFoNCBsV9bZxmlt1
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmVhbC1ibHVlYmlyZC02Ny5jbGVyay5hY2NvdW50cy5kZXYk

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wbsemoptzefpdwiqkttx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-00b92c6VoPzJIRD9RMuDw_32yfZLGo
EXPO_PUBLIC_SUPABASE_URL=https://wbsemoptzefpdwiqkttx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-00b92c6VoPzJIRD9RMuDw_32yfZLGo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indic2Vtb3B0emVmcGR3aXFrdHR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg4Mzc0NCwiZXhwIjoyMDg5NDU5NzQ0fQ.1V9uU3rOJTV-vldLoA91heKxiVE_OhIlGT1igjU_Lys

# Notifications / Email
RESEND_API_KEY=
COMPANY_NOTIFICATION_EMAIL=